@page
@model OrderToFood.Pages.Resturants.ListModel
@{
}
<h1>Resturants</h1>

<form method="GET">
	<div class="form-group">
		<div class="input-group">
			<input type = "search" class="form-control" asp-for="SearchTerm"/>
			<span class="input-group-btn">
				<button class="btn btn-success">
					Search
				</button>
			</span>
		</div>
	</div>
</form>

<table class="table">
	<tr>
		<td><b>Name</b></td>
		<td><b>Loaction</b></td>
		<td><b>Cusine Type</b></td>
		<td><b>Actions</b></td>
	</tr>
	
		@foreach (var res in Model.resturants)
		{
			<partial name="_Summary" model="res" />
		}
	
</table>

<a asp-page="./Edit" class="btn btn-primary">Create new Resturant</a>

@section footer
{
	@Model.message
}
